/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Section Styles */
section {
    padding: 2rem;
    text-align: center;
}

section#home {
    background-color: #3faffa;
    color: white;
}

section#services {
    background-color: #f1f1f1;
}

section#about {
    background-color: #e7e7e7;
}

section#contact {
    background-color: #ffcc00;
    color: #333;
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 1rem;
}
